---
import Layout from '../layouts/Layout.astro';
import Title from '@Components/Title.astro';
import BlogPreview from '@Components/BlogPreview.astro';

let allPost = await Astro.glob('./post/html/*.md')
allPost = allPost.sort((fecha1, fecha2) => new Date(fecha2.frontmatter.date).valueOf() -
new Date(fecha1.frontmatter.date).valueOf())

---

<Layout title="Welcome to my blog.">
	<Title title='HTML' title2='Blog' subtitle='Awesom blog with astro'></Title>	
	{
		allPost.map((blog) => <BlogPreview post={blog} />)
	}
</Layout>

