<div class="topnav">
    <a href="/">Home</a>
    <a href="/js/">Javascript</a>
    <a href="/html/">HTML</a>
    <a href="/css/">CSS</a>
</div>

<style>
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topnav{
        overflow: hidden;
        background-color: rgb(235,180,15);

    }
    .topnav a{
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }
    .topnav a:hover{
        background-color: aliceblue;
        color: black;
    }
</style>